body {
  text-align: center;
  font-size: 1em;
  font-family: sans-serif;
  margin: 0;
}

h1 {
  font-size: 1.2em;
  padding: 20px 0;
  border-bottom: 1px solid #eee;
  margin: 0 0 30px 0;
  color: #333;
}

.row {
  text-align: center;
  display: flex;
  justify-content: center;

}


.row > div {
  display: block;
  width: 60px;
  height: 60px;
  border: 1px solid #bbb;
  margin: 4px;
  text-align: center;
  line-height: 60px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2.5em;
  border-radius: 10px;
}

.green {
  --background-color: #27a903c2;
  --border-color: #a9ff27;
  animation: flip 0.5s ease forwards;
}

.grey {
  --background-color: #9a9a9ac2;
  --border-color: #767676;

  animation: flip 0.5s ease forwards;

}

.yellow {
  --background-color: #f3d915c2;
  --border-color: #ffe927;

  animation: flip 0.5s ease forwards;

}


.row > div:nth-child(1){
  animation-delay: 0.4s;
  }
  
.row > div:nth-child(2){
  animation-delay: 0.5s;
  }
  
.row > div:nth-child(3){
  animation-delay: 0.6s;
  }
  
.row > div:nth-child(4){
  animation-delay: 0.7s;
  }
  

.row > div:nth-child(5){
animation-delay: 0.8s;
}

.row > div:nth-child(6){
  animation-delay: 0.9s;
  }
  

.row.current > div.filled{
  animation: bounce 0.2s ease-in-out forwards ;
}

  /* animation */

@keyframes flip {
  0% {
    transform: rotateX(0deg);
    background-color: #fff;
    border-color: #333;
  }

  45% {
    transform: rotateX(90deg);
    background-color: #fff;
    border-color: #333;
  }


  55% {
    transform: rotateX(90deg);
    background-color: var(--background-color);
    border-color:var(--border-color);

  }

  100% {
    transform: rotateX(0deg);
    background-color: var(--background-color);
    border-color:var(--border-color);

  }
}


@keyframes bounce {
  0% {
    transform: scale(1);
    border-color: #4f4f4f;
  }

  50% {
    transform: scale(1.1);
    border-color: #ddd;
  }

  100% {
    transform: scale(1);
    border-color: #909090;
  }
}

/* keypad */


.keypad{
  max-width: 500px ;
  margin: 20px auto;
}

.keypad .key{
  margin: 5px;
  width: 40px;
  height: 50px;
  background-color: #e1e1e1;
  display: inline-block;
  border-radius: 6px;
  line-height: 50px;
}



.keypad .key.green{
 background-color: #a9ff27;
}

.keypad .key.yellow{
  background-color: #ffee00;
 }

 .keypad .key.grey{
  background-color: #696969;
 }


 .modal-card{
  background-color: #909090;
  height: 300px;
  width: 500px;
 }